/* core styles */
body{
    font-family: sans-serif;
}
.container{
    width: 1140px;
    margin: 0 auto;
}
.to-uppcase{
    text-transform: uppercase;
}
.clearfix{
    clear: both;
}
/* main header styles */
.main-header__brand{
    vertical-align: middle;
}
.main-header{
    display:flex;

}
.main-header__brand img {
width: 64px;
}
.main-navigations{
    display:inline-block;
    vertical-align: middle;
}
.main-navigations__item{
    display: inline-block;
    padding: 10px;
}

.main-navigations__item .active{
    color: #05364d;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 500;
}
.main-navigations__items a:hover{
    color: #efb6df;
}

/* .active{
    text-transform: capitalize;
    color: #000;

} */
a{
    text-decoration: none;
}
/* main section  */
.main-section{
    padding: 100px 300px;
}
.main-section > div{
    width: 50%;
    float: left;
}
.main-section__image{
    text-align: right;
    display: block;
}
.main-section__welcome{
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 20px;
    letter-spacing: 2px;
    color: #797979;
}
.main-section__intoroduction{
    margin-top: 20px;
    font-size: 60px;
    font-weight: 500;
    margin-bottom: 20px;
    color: #05364E  ;
}
.main-section__position{
    color: #05364E;
    font-size: 24px;
    font-weight: 300;
   margin-bottom: 20px;

}
.main-section__action{
    margin-top: 30px;
    border: none;
    background-color: blue;
    color: white;
    font-weight: 500;
    font-size: 14px;
    padding: 20px 40px;
    cursor: pointer;
    border-radius: 5px;
}   
.to-uppcasep{
    font-size: 40px;
    
}

.main-section__info{
    margin-left: -100px;
    margin-right: 100px
}
.section_two{
    display: block;

}
#main-section{
    display: flex;
}